@font-face {
    font-family: 'Comic Sans MS';
    src: url("/lib/fonts/comic.ttf");
}

@font-face {
    font-family: 'Calibri';
    src: url("/lib/fonts/calibri.ttf");
}

@font-face {
    font-family: "Calibri";
    src: url("/lib/fonts/calibrib.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "Calibri";
    src: url("/lib/fonts/calibrii.ttf");
    font-style: italic;
}

@font-face {
    font-family: "Calibri";
    src: url("/lib/fonts/calibriz.ttf");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Calibri Light';
    src: url("/lib/fonts/calibril.ttf");
}

@font-face {
    font-family: 'Consolas';
    src: url("/lib/fonts/consola.ttf");
}

@font-face {
    font-family: 'Georgia';
    src: url("/lib/fonts/georgia.ttf");
}

@font-face {
    font-family: 'Tahoma';
    src: url("/lib/fonts/tahoma.ttf");
}

@font-face {
    font-family: 'Tahoma';
    src: url("/lib/fonts/tahomabd.ttf");
    font-weight: bold;
}

@font-face {
    font-family: 'Times New Roman';
    src: url("/lib/fonts/times.ttf");
}

@font-face {
    font-family: 'Times New Roman';
    src: url("/lib/fonts/timesbd.ttf");
    font-weight: bold;
}

@font-face {
    font-family: 'Times New Roman';
    src: url("/lib/fonts/timesbi.ttf");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Times New Roman';
    src: url("/lib/fonts/timesi.ttf");
    font-style: italic;
}

@font-face {
    font-family: 'Trebuchet MS';
    src: url("/lib/fonts/trebuc.ttf");
}

@font-face {
    font-family: 'Verdana';
    src: url("/lib/fonts/verdana.ttf");
}

@font-face {
    font-family: 'Verdana';
    src: url("/lib/fonts/verdanab.ttf");
    font-weight: bold;
}

@font-face {
    font-family: 'Verdana';
    src: url("/lib/fonts/verdanai.ttf");
    font-style: italic;
}

@font-face {
    font-family: 'Verdana';
    src: url("/lib/fonts/verdanaz.ttf");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Arial';
    src: url("/lib/fonts/arial.ttf");
}

@font-face {
    font-family: 'Arial';
    src: url("/lib/fonts/arialbd.ttf");
    font-weight: bold;
}

@font-face {
    font-family: 'Arial';
    src: url("/lib/fonts/arialbi.ttf");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Arial';
    src: url("/lib/fonts/ariali.ttf");
    font-style: italic;
}
